torch==2.1.0
torchvision==0.16.0
safetensors==0.4.1
diffusers==0.24.0
transformers==4.36.0
lycoris-lora==1.8.3
flatten_json
pyyaml
oyaml
tensorboard
kornia==0.7.0
invisible-watermark
einops
accelerate==0.25.0
toml
albumentations==1.4.15
albucore==0.0.16
pydantic
omegaconf
k-diffusion
open_clip_torch
timm
prodigyopt
controlnet_aux==0.0.7
python-dotenv
bitsandbytes==0.41.1
hf_transfer
lpips
pytorch_fid
optimum-quanto==0.2.4
sentencepiece
huggingface_hub==0.19.4
peft==0.7.0
gradio
python-slugify
